%header{ style: "padding: 22px 0; background-image: url('..#{image_path('headers/' << @headers.sample)}');" }
  .row
    .large-12.columns
      %h1 Edit Song
      %h4 Amend song information
%section{ style: 'margin-top: 44px' }
  .row
    .large-8.columns
      = render 'form'
